* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    
}

/* Header  */

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    padding: 25px 15px;
    transition: all 0.6s ease-in-out;
    border-bottom: 1px solid #5f6771;
}

#header.header-scroll {
    padding: 10px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #151421;
    border-bottom: 0;
}


.header__container {
    width: 90%;
    margin: 0 auto;
}

.header__brand a i {
    font-size: 30px;
    color: #009F4D;
}

.header__brand a span {
    font-size: 32px;
    font-weight: 600;
    color: #fff;
}

.header__brand a p {
    font-size: 14px;
    font-weight: 600;
    margin-top: -5px;
    color: #fff;
}

.header__navbar {
    justify-content: center;
}

.header__logo {
    display: flex;
}

.header__item a {
    font-size: 15px;
    font-weight: 600;
    padding: 5px 0 10px;
    color: #fff;
    transition: all 0.5s;
}

.header__item a:active {
    color: white;
}

.header__nav .header__item .header__link:hover {
    color: white;
}

.header__menu {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: #151421;
    border-radius: 8px;
    padding: 10px 15px;
}

.header__menu a {
    color:  rgba(255,255,255,.5);
}

.header__menu .header__drop:hover {
    color: white;
    background-color: #151421;
}

.header__logo .logo__zoom i {
    font-size: 16px;
    color: white;
    background-color: #009F4D;
    border-radius: 50%;
    padding: 14px;
    cursor: pointer;
}

.header__logo .logo__sun i {
    font-size: 16px;
    color: white;
    border-radius: 50%;
    padding: 14px;
    cursor: pointer;
}

.navbar-toggler {
    background-color: #009f4d;
    border: 1px solid #009f4d;
}

/* Carousel  */

.carousel-inner {
    width: 100%;
    height: 800px;
}

.carousel-item:nth-child(1) {
    height: 100%;
    background-image: url("./images/b1.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.carousel-item:nth-child(2) {
    height: 100%;
    background-image: url("./images/b2.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.carousel-item:nth-child(3) {
    height: 100%;
    background-image: url("./images/b3.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.carousel-item:nth-child(4) {
    height: 100%;
    background-image: url("./images/b4.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
    width: 90%;
    margin: 0 auto;
    box-shadow: none;
    left: 6%;
    z-index: 1;
}

.carousel-caption:hover {
    box-shadow: none;
}

.carousel-caption h3 {
    font-size: 65px;
    line-height: 1.1;
    margin-bottom: 18px;
    font-weight: 600;
    max-width: 800px    ;
    animation-delay: 0.8s;
}

.carousel-caption p {
    font-size: 20px;
    line-height: 30px;
    max-width: 600px;
    color: #fff;
    letter-spacing: 0.1;
    opacity: 0.9;
    margin-bottom: 30px;
}

.carousel-caption a button {
    padding: 15px 50px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
    border-radius: 8px;
    background-color: #009F4D;
    border: none;
    animation-delay: 1s;
    color: #fff;
}

.carousel-caption a button:hover {
    color: #fff;
    box-shadow: none;
    background-color: #008030;
    border-color: #00732c;
}

.overlay {
    background: rgba(29, 42, 55, 0.8);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.shape {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 5;
}

.arrow__left a i {
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    padding: 25px;
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.arrow__right a i {
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    padding: 25px;
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: center;
    color: white;
}

.arrow__left {
    position: absolute;
    z-index: 6;
    width: 2%;
    height: 100px;
    bottom: -25px;
    right: 15%;
    color: white;
}

.arrow__right {
    position: absolute;
    z-index: 6;
    width: 2%;
    height: 100px;
    bottom: -25px;
    right: 10%;
}

/* About  */

#about {
    padding: 48px 0;
    background-color: #151421;
}

.about__bgr {
    width: 90%;
    margin: 0 auto;
}

.about__list {
    padding: 8px 0 0;
    margin: 24px 0 0;
}

.about__title h1 {
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 1px;
    color: #7e7d7d;
}

.about__title p:first-of-type {
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
    color: #eee;
}

.about__title p:last-of-type {
    font-size: 17px;
    color: #c2c2c2;
    margin: 24px 0 0;
    line-height: 27px;
    opacity: 0.8;
}

.about__title ul {
    list-style: none;
}

.about__title ul li {
    margin-bottom: 15px;
}

.about__title ul li a i {
    font-size: 10px;
    background-color: #009F4D;
    color: #151421;
    border-radius: 50%;
    padding: 2px;
}

.about__title ul li a span {
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    color: white;
}

.about__title ul li a {
    text-decoration: none;
}

.about__content .about__row .about__col img {
    border-radius: 8px;
    margin: 16px 0;
}

.about__content .about__col1 img {
    border-radius: 8px;
    margin: 16px 0;
}

.about__content .about__col1 {
    margin-top: 25px;
}

/* Product  */

#product {
    padding: 48px 0;
    background-color: #100F19;
}

.product__bgr {
    width: 90%;
    margin: 0 auto;
    margin-top: 48px;
}

.product__title h1 {
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 1px;
    color: #7e7d7d;
}

.product__title p:first-of-type {
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
    color: #eee;
}

.product__title p:last-of-type {
    font-size: 17px;
    color: #c2c2c2;
    margin: 24px 0 0;
    line-height: 27px;
    opacity: 0.8;
}

.product__title a button {
    padding: 15px 50px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
    border-radius: 8px;
    background-color: #009F4D;
    border: none;
    animation-delay: 1s;
    color: #fff;
    margin: 48px 0 0;
}

.product__title a button:hover {
    color: #fff;
    box-shadow: none;
    background-color: #008030;
    border-color: #00732c;
}

.product__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
}

.product__item {
    padding: 40px 30px;
    border-radius: 8px;
    text-align: center;
    box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;;
    background-color: #151421;
    transition: all 0.5s;
}

.product__item:hover {
    transform: translateY(-6px);
    box-shadow: rgb(46 41 51 / 8%) 0px 2px 4px, rgb(71 63 79 / 16%) 0px 5px 10px;
}

.product__item h4 {
    margin-top: 25px;
}

.product__item h4 a {
    font-size: 22px;
    line-height: 28px;
    font-weight: 600;
    color: #eee;
    text-decoration: none;
    transition: all 0.5s;
}

.product__item h4 a:hover {
    color: #00732c;
}


/* .product__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.product__row .product__col {
    padding: 40px 30px;
    border-radius: 8px;
    text-align: center;
    background-color: #151421;
    box-shadow: none;
    transform: translateY(8px);
    transition: all 0.5s;
}

.product__row .product__col:hover {
    transform: translateY(0);
    box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
}

.product__row .product__col p a{
    color: #eee;
    font-size: 22px;
    line-height: 28px;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.5s;
}

.product__row .product__col p {
    margin-top: 25px;
}

.product__row .product__col p a:hover {
    color: #008030;
} */

/* Service  */

#service {
    padding: 48px 0;
    background-color: #151421 ;
}

.service__bgr {
    width: 90%;
    margin: 0 auto;
    margin-top: 48px;
}

.service__title h1 {
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
    color: #eee;
}

.service__content {
    margin-top: 42px;
}

.service__img img {
    border-radius: 8px 8px 0 0px;
}

.service__text {
    text-align: center;
    transform: translateY(-14px);
    padding: 0 26px;
    transition: all 0.5s;
    color: #eee;
}

.service__item .service__text:hover a {
    color: #00732c;
}

.service__text a:first-of-type {
    font-size: 19px;
    line-height: 28px;
    font-weight: 600;
    color: #eee;
    padding: 12px 35px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: #151421;
    border-radius: 8px;
    text-decoration: none;
}

.service__text p {
    font-size: 17px;
    line-height: 27px;
    color: #c2c2c2;
    opacity: 0.8;
    margin-top: 35px;
}

.service__item a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    transition: all 0.5s;
}

.service__item a button {
    padding: 8px 35px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 600;
    color: #eee;
    border-radius: 8px;
    background-color: transparent;
    border: none;
    transition: all 0.5s;
}

.service__text a:hover {
    color: #00732c;
}

.service__item:hover .service__text a {
    color: #00732c;
}

.service__item a button:hover {
    color: #00732c;
}

/* Project  */

#project {
    padding: 48px 0;
    background-color: #100F19;
}

.project__bgr {
    width: 90%;
    margin: 0 auto;
    margin-top: 48px;
}

.project__title {
    margin-bottom: 40px;
}

.project__title h1 {
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 1px;
    color: #7e7d7d;
}

.project__title p {
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
    color: #eee;
}

.project__col img {
    margin-top: 30px;
}

.project__text p {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 10px;
}

.project__text h1 {
    font-size: 18px;
    color: #eee;
}

.project__img {
    overflow: hidden;
    height: auto;
    position: relative;
    width: 100%;
}

.project__img img {
    width: 100%;
    transition: all 1s;;
}

.project__item {
    position: relative;
    margin: 15px auto;
    overflow: hidden;
}

.project__item:hover .project__img img {
    -webkit-transform: scale(1.2); transform: scale(1.2);
}

.project__item .project__overlay {
    background-color: rgba(29, 42, 55, 0.8);;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    opacity: 0;
}

.project__item:hover .project__overlay {
    opacity: 1;
}

.project__text {
    position: absolute;
    bottom: 25px;
    padding: 46px 50px;
    transform: translateY(130px);
    transition: all 0.5s;
    opacity: 0;
}

.project__item:hover .project__text {
    transform: translateY(0px);
    opacity: 1;
}

.project__logo {
    display: flex;
    justify-content: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 36px 0;
}

.project__logo1 {
    width: 20%;
    display: flex;
    justify-content: center;
}

.project__logo1 img {
    width: 60%;
}

/* Client  */
#client {
    padding: 48px 0;
    background-color: #100F19;
}

.client__bgr {
    width: 90%;
    margin: 0 auto;
    margin-top: 48px;
}

.client__title h1 {
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 1px;
    color: #7e7d7d;
}

.client__title p {
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
    color: #eee;
}

.client__all p {
    font-size: 18px;
    line-height: 28px;
    color: #c2c2c2;
    opacity: 0.8;
}

.client__item {
    display: flex;
    justify-content: center;
}

.client__item img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}

.client__img {
    margin-right: 20px;
}

.client__text h3 {
    font-size: 20px;
    font-weight: 600;
    color: #eee;
}

.client__text p {
    font-size: 18px;
    color: #c2c2c2;
    opacity: 0.8;
}

.client__all {
    margin: 0 222px;
    padding: 40px 30px;
}

.client__all p {
    text-align: center;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: #213364;
}

.slick-dots li button:before {
    font-size: 13px;
}

.slick-dots li button:before {
    color: #213364;
}

.slick-dots li.slick-active button:before {
    font-size: 16px;
}

/* News */

#news {
    padding: 48px 0;
    background-color: #151421;
}

.news__bgr {
    width: 90%;
    margin: 0 auto;
    margin-top: 48px;
}

.news__title {
    margin-bottom: 40px;
}

.news__title h1 {
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 1px;
    color: #7e7d7d;
}

.news__title p {
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
    color: #eee;
}

.news__text {
    padding: 20px;
}

.news__text h2 {
    font-weight: 400;
    font-size: 17px;
    color: #999;
    cursor: pointer;
}

.news__text a {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    color: #eee;
    margin-top: 10px;
    text-decoration: none;
}

.news__img img {
    width: 100%;
} 

.news__logo {
    display: flex;
    padding: 12px 20px;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    justify-content: space-between;
}

.news__logo img {
    border-radius: 50%;
}

.news__logo span {
    font-size: 15px;
    color: #c2c2c2;
    font-weight: 600;
    opacity: 0.6;
}

.news__logo a {
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    color: #eee;
    text-decoration: none;
}

.news__logo p {
    font-size: 15px;
    color: #c2c2c2;
    opacity: 0.6;
    margin-bottom: 0;
}

.news__card {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
}

.news__img {
    overflow: hidden;
    height: auto;
    position: relative;
    width: 100%;
}

.news__img img {
    width: 100%;
    transition: all 0.5s;
}

.news__card:hover .news__img img {
    -webkit-transform: scale(1.2); transform: scale(1.2);
}

/* Search  */

#search {
    background-image: url("./images/map.png");
    background-color: #151421;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 90px 0;
}

.search__bgr {
    width: 90%;
    margin: 0 auto;
    padding: 0 260px;
}

.search__title h1 {
    font-size: 35px;
    font-weight: 600;
    line-height: 45px;
    color: #fff;
}

.search__title p {
    font-size: 17px;
    line-height: 27px;
    color: #eee;
    opacity: 0.8;
    margin: 16px 0 0;
    padding: 0 48px 0 0;
}

.input-group {
    width: 85%;
    margin: auto;
}

.form-control {
    background-color: #151421a6;
    border: 1px solid #ced4da40 ;
    padding: 32px;
}

.input-group-text {
    background-color: #151421a6;
    border: 1px solid #ced4da40 ;
    padding: 0 20px;
}

.input-group-text i {
    color: #999;
    font-size: 19px;
}

.btn {
    font-size: 16px;
    padding: 0 25px;
    font-weight: 600;
}

/* Footer  */

footer {
    padding: 48px 0 0 0;
    background-color: #151421;
    border-top: 1px solid #ffffff26;
}

.footer__bgr {
    width: 90%;
    margin: 0 auto;
    margin-top: 48px;
}

.footer__logo {
    margin-bottom: 25px;
}

.footer__logo a {
    text-decoration: none;
}

.footer__logo a i {
    color: #009F4D;
    font-size: 30px;
}

.footer__logo a span {
    font-size: 32px;
    font-weight: 600;
    color: #eee;
}

.footer__logo a p {
    font-size: 14px;
    font-weight: 600;
    margin-top: -5px;
    color: #fff;
    padding: 0px 0 0 35px;
}

.footer__text p {
    font-size: 18px;
    line-height: 28px;
    color: #97a1a9;
    opacity: 0.6;
}

.footer__icon {
    margin-top: 25px;
}

.footer__icon a {
    margin-right: 15px;
    text-align: center;
    font-size: 16px;
    border-radius: 50%;
    color: #97a1a9;
    opacity: 0.6;
    transition: all 0.3s;
}

.footer__icon a:hover {
    color: #fff;
    opacity: 1;
}

.footer__para {
    padding-right: 5px;
}

.footer__para h2 {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 25px;
    font-weight: 400;
    color: #fff;
    letter-spacing: 0.5px;
}

.footer__para ul li {
    font-size: 18px;
    line-height: 28px;
    color: #97a1a9;
    list-style: none;
    margin-bottom: 15px;
}

.footer__para ul li p {
    margin-bottom: 0px;
    opacity: 0.6;
}

.footer__para ul li span {
    color: #97a1a9;
    opacity: 0.6;
}

.footer__para ul li a {
    color: #97a1a9;
    opacity: 0.6;
    transition: all 0.5s;
    text-decoration: none;
}

.footer__para ul li a:hover {
    color: #fff;
    opacity: 1;
}

.footer__bottom {
    margin-top: 48px;
    border-top: 1px solid #ffffff26;
}

.footer__end {
    padding: 25px;
}

.footer__end span {
    font-size: 17px;
    color: #7f8a94;
    letter-spacing: 0.5px;
    opacity: 1;
}

.footer__end a {
    color: #009F4D;
    transition: all 0.5s;
    opacity: 0.8;
    font-size: 18px;
    line-height: 28px;
    text-decoration: none;
}

.footer__end a:hover {
    color: #fff;
}

/* Our  */

#our {
    padding: 48px 0 80px 0;
    background-color: #151421;
}

.our__bgr {
    width: 90%;
    margin: 0 auto;
    margin-top: 48px;
    
}

.our__img img {
    width: 100%;
    border-radius: 10px;
}

.our__title h1 {
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 1px;
    color: #7e7d7d;
}

.our__title p {
    font-size: 35px;
    line-height: 45px;
    color: #eee;
    font-weight: 700;
    margin: 0 0 8px;
    padding: 0 0 24px;
}

.progress__box1 {
    margin-bottom: 30px;
}

.progress__box1 .progress {
    display: flex;
    height: 4px;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #151421;
    border-radius: 1.25rem;
}

.progress__box1 .progress__title {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 65%;
    font-size: 18px;
    color: #eee;
    font-weight: 400;
}

.progress__box1 .progress__title .percent {
    font-size: 18px;
    color: #eee;
}

.progress__box1 .progress .progress-bar {
    position: absolute;
    left: 15px;
    width: 90%;
    height: 4px;
    border-radius: 36%;
    background: #100F19;
}

.progress__box1 .progress .progress-bar .progressing {
    width: 70%;
    height: 100%;
    border-radius: 30px;
    color: #61fded;
    background-color: #0d8abc;
    background-image: linear-gradient(-224deg, #0d8abc, #61fded);
}

.progress__box1 .progress .progress-bar .circle {
    position: absolute;
    left: 70%;
    width: 14px;
    height: 14px;
    background: #151421;
    border: 4px solid #61fded;
    border-radius: 50%;
    transform: translateY(0px) translateX(-10px);
}

.progress__box1 .progress .progress-bar .circle1 {
    position: absolute;
    left: 70%;
    width: 26px;
    height: 26px;
    background: #15142124;
    border: 1px solid #61fded52;
    border-radius: 50%;
    transform: translateY(0px) translateX(-16px);
}

.progress__box2 {
    margin-bottom: 30px;
}

.progress__box2 .progress {
    display: flex;
    height: 4px;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #151421;
    border-radius: 1.25rem;
}

.progress__box2 .progress__title {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 80%;
    font-size: 18px;
    color: #eee;
    font-weight: 400;
}

.progress__box2 .progress__title .percent {
    font-size: 18px;
    color: #eee;
}

.progress__box2 .progress .progress-bar {
    position: absolute;
    left: 15px;
    width: 90%;
    height: 4px;
    border-radius: 36%;
    background: #100F19;
}

.progress__box2 .progress .progress-bar .progressing {
    width: 85%;
    height: 100%;
    color: #eece90;
    background-color: #d45529;
    background-image: linear-gradient(-224deg, #d45529, #eece90);
    border-radius: 30px;
}


.progress__box2 .progress .progress-bar .circle {
    position: absolute;
    left: 85%;
    width: 14px;
    height: 14px;
    background: #151421;
    border: 4px solid #eece90;
    border-radius: 50%;
    transform: translateY(0px) translateX(-6px);
}

.progress__box2 .progress .progress-bar .circle2 {
    position: absolute;
    left: 85%;
    width: 26px;
    height: 26px;
    background: #15142124;
    border: 1px solid #eece9063;
    border-radius: 50%;
    transform: translateY(0px) translateX(-12px);
}

.progress__box3 {
    margin-bottom: 30px;
}

.progress__box3 .progress {
    display: flex;
    height: 4px;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #151421;
    border-radius: 1.25rem;
}

.progress__box3 .progress__title {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 49%;
    font-size: 18px;
    color: #eee;
    font-weight: 400;
}

.progress__box3 .progress__title .percent {
    font-size: 18px;
    color: #eee;
}

.progress__box3 .progress .progress-bar {
    position: absolute;
    left: 15px;
    width: 90%;
    height: 4px;
    border-radius: 36%;
    background: #100F19;
}

.progress__box3 .progress .progress-bar .progressing {
    width: 54%;
    height: 100%;
    color: #5c51ff;
    background-color: #f646a9;
    background-image: linear-gradient(-224deg, #f646a9, #5c51ff);
    border-radius: 30px;
}

.progress__box3 .progress .progress-bar .circle {
    position: absolute;
    left: 54%;
    width: 14px;
    height: 14px;
    background: #151421;
    border: 4px solid #5c51ff;
    border-radius: 50%;
    transform: translateY(0px) translateX(-12px);
}

.progress__box3 .progress .progress-bar .circle3 {
    position: absolute;
    left: 54%;
    width: 26px;
    height: 26px;
    background: #15142124;
    border: 1px solid #5c51ff61;
    border-radius: 50%;
    transform: translateY(0px) translateX(-18px);
}

.progress__box4 {
    margin-bottom: 30px;
}

.progress__box4 .progress {
    display: flex;
    height: 4px;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #151421;
    border-radius: 1.25rem;
}

.progress__box4 .progress__title {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 71%;
    font-size: 18px;
    color: #eee;
    font-weight: 400;
}

.progress__box4 .progress__title .percent {
    font-size: 18px;
    color: #eee;
}

.progress__box4 .progress .progress-bar {
    position: absolute;
    left: 15px;
    width: 90%;
    height: 4px;
    border-radius: 36%;
    background: #100F19;
}

.progress__box4 .progress .progress-bar .progressing {
    width: 77%;
    height: 100%;
    color: #e5529a;
    background-color: #e77654;
    background-image: linear-gradient(-224deg, #e77654, #e5529a);
    border-radius: 30px;
}

.progress__box4 .progress .progress-bar .circle {
    position: absolute;
    left: 77%;
    width: 14px;
    height: 14px;
    background: #151421;
    border: 4px solid #e5529a;
    border-radius: 50%;
    transform: translateY(0px) translateX(-6px);
}

.progress__box4 .progress .progress-bar .circle4 {
    position: absolute;
    left: 77%;
    width: 26px;
    height: 26px;
    background: #15142124;
    border: 1px solid #e5529a59;
    border-radius: 50%;
    transform: translateY(0px) translateX(-12px);
}

.backToTop {
    background-color: #009F4D;
    font-size: 18px;
    width: 50px;
    height: 50px;
    display: block;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    color: white;
    position: fixed;
    right: 20px;
    bottom: 20px;
    opacity: 0;
    visibility: hidden;
    font-weight: 300;
}

.cd-top--is-visible { 
    visibility: visible;
    opacity: 1;
  }
  
  .cd-top--fade-out {
    opacity: 1;
  }


/* Responsive */
/* Header */
/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .header__logo{
        position: absolute;
        top: 31px;
        right: 75px;
    }

    .carousel-caption{
        bottom: 0;
    }

    .carousel-caption h3{
        font-size: 40px;
        max-width: 100%;
    }

    .carousel-inner{
        height: 630px;
    }

    .arrow__left,
    .arrow__right{
        display: none;
    }

    .product__title {
        margin-bottom: 40px;
    }

    .service__title h1 {
        font-size: 25px;
    }

    .project__title p {
        font-size: 30px;
    }

    .our__title p {
        font-size: 30px;
    }

    .news__title p {
        font-size: 30px;
    }

    .news__card {
        margin-bottom: 20px;
    }

    .search__bgr {
        padding: 0;
    }

    .search__title p {
        font-size: 12px;
        padding: 0;
    }

    .form-control {
        padding: 0;
        font-size: 12px;
    }

    .btn {
        font-size: 12px;
        padding: 0 10px;
    }

    .footer__margin {
        margin-bottom: 30px;
    }

    .footer__icon {
        margin-top: 15px;
    }

    .client__all {
        margin: 0;
    }

    .footer__bottom {
        margin-top: 15px;
    }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .client__all {
        margin: 0;
    }

    .search__bgr {
        padding: 0;
    }

    .search__title p {
        font-size: 20px;
        padding: 0;
    }

    .form-control {
        padding: 0;
        font-size: 12px;
    }

    .btn {
        font-size: 12px;
        padding: 0 10px;
    }

    .footer__margin {
        margin-bottom: 30px;
    }

    .footer__icon {
        margin-top: 15px;
    }

    .footer__bottom {
        margin-top: 15px;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .product__title {
        margin-bottom: 40px;
    }

    .product__item {
        padding: 60px 35px;
    }

    .our__title p {
        font-size: 25px;
        line-height: 37px;
        color: #eee;
        font-weight: 700;
    }

    .client__all {
        margin: 0;
    }

    .news__logo {
        padding: 4px 6px;
    }

    .news__text {
        padding: 15px;
    }

    .search__bgr {
        padding: 0;
    }

    .search__title p {
        font-size: 23px;
        padding: 0;
    }

    .footer__margin {
        margin-bottom: 30px;
    }

    .footer__icon {
        margin-top: 15px;
    }

    .footer__bottom {
        margin-top: 15px;
    }
}

/* //Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .client__all {
        margin: 0;
    }

    .search__bgr {
        padding: 0;
    }

    .search__title p {
        font-size: 25px;
        padding: 0;
    }
    
    .input-group {
        width: 60%;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .client__all {
        margin: 0;
    }

    .search__bgr {
        padding: 0;
    }

    .search__title p {
        font-size: 17px;
        padding: 0;
        margin: 0px 250px;
    }

    .input-group {
        width: 60%;
    }
}